/* Mobile Portrait View */

@media screen and (max-width: 479px) {
    * {
        box-sizing: border-box;
    }
    .flex{
        display: block;
    }
    .aligner {
        width: 95%;
        display: inherit !important;
    }
	.main-header{
		position: relative;
	}
	.site-name{
		width: max-content;
		margin: 0 auto;
		padding: 15px 0;
	}

    /* Topbar Css */
    .top-bar-col.flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .top-bar-col.flex.jcfe{
        justify-content: flex-start;
    }
    .top-bar-col:not(:last-child){
        margin: 0;
    }
	
    /* Navigation Css */ 
    .theme-nav{
        margin-bottom: 15px;
    }
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        font-size: 16px;
		text-decoration: none;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
		margin-top:0;
		width:100%;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
        padding: 0;
    }
	.sitenav ul li ul {
		color: #fff;
		opacity: 0;
		padding:0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: auto;
		z-index: 1;
	}
	.sitenav ul li.menu-item-has-children:hover > ul,
	.sitenav ul li.menu-item-has-children:focus > ul,
	.sitenav ul li.menu-item-has-children.focus > ul {
		left: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
		background-color:#303030 !important;
		top:0;
		position: relative;
	}
    .sitenav ul li a {
        padding: 8px 16px;
        display: block;
        color: #ffffff !important;
		text-align:left;
        background: transparent !important;
    }
    .sitenav ul li a:before,
	.sitenav ul li a:after{
        content: none;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: none;
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
	.sitenav ul li.current_page_item a{
		background-color:transparent !important;
	}
	.sitenav ul li:hover,
	.sitenav ul li.current_page_item{
		background-color:inherit !important;
	}

    /* ------ Slider Css ------ */
    #theme-slider .nivo-caption {
        width: 90%;
        margin: 0 auto;
		border: none;
		padding: 0;
		inset: 50% 0 auto 0;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
    .caption-holder h4{
       display: none;
    }
    .caption-holder h2{
        font-size: 24px !important;
        line-height: 28px !important;
        margin: 0 0 10px !important;
    }
    .caption-holder p{
        display: none;
    }
    .caption-holder a.slide-button{
        font-size: 12px !important;
        padding: 6px 28px !important;
    }
	#theme-slider .nivo-controlNav,
	#theme-slider .nivo-directionNav{
		display: none;
	}
	
	/* --------- Pages ------- */
	h2.section_title{
		font-size: 26px;
	}
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }
    /* --------- Pages ------- */
    .service-section{
        padding: 50px 0;
    }
    .service-box{
        margin-top: 0 !important;
        width: 100%;
    }
    .service-box:not(:last-child){
        margin-bottom: 40px;
        margin-right: 0;
    }
    .intro-left{
        padding: 25px 0 0 25px;
        margin-bottom: 30px;
    }
    .intro-right h2{
        font-size: 32px;
    }

    .content-area {
        width: 95%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .site-main {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
	section{
		padding:0;
	}
	.main-aligner{
		margin-top:0;
	}
}
/* Mobile Landscape View */

@media screen and (max-width: 719px) and (min-width: 480px) {
    * {
        box-sizing: border-box;
    }
    .flex{
        display: block;
    }
    .aligner {
        width: 95%;
		display: inherit !important;
    }
	.main-header{
		position: relative;
	}
    .site-name{
        width: 100%;
    }
	.site-name{
		width: max-content;
		margin: 0 auto;
		padding: 15px 0;
	}
     /* Topbar Css */
     .top-bar-col.flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .top-bar-col.flex.jcfe,
    .top-bar-col.flex.ac{
        justify-content: center;
    }
    .top-bar-col:not(:last-child){
        margin-right: 0;
    }
    .top-bar-col{
        padding: 10px 0;
    }

    /* navigation Css */
    .theme-nav{
        margin-bottom: 15px;
    }  
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        font-size: 16px;
		text-decoration: none;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
		margin-top:0;
		width:100%;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
        padding: 0;
    }
    .sitenav ul li:before{
        content: none;
    }
	.sitenav ul li ul {
		color: #fff;
		opacity: 0;
		padding:0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: auto;
		z-index: 1;
	}
	.sitenav ul li.menu-item-has-children:hover > ul,
	.sitenav ul li.menu-item-has-children:focus > ul,
	.sitenav ul li.menu-item-has-children.focus > ul {
		left: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
		background-color:#303030 !important;
		top:0;
		position: relative;
	}
	.sitenav ul li a:before,
	.sitenav ul li a:after{
        content: none;
    }
    .sitenav ul li a {
        padding: 8px 16px;
        display: block;
        color: #ffffff !important;
		text-align:left !important;
        background: transparent !important;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: none;
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
	.sitenav ul li.current_page_item a{
		background-color:transparent !important;
	}
	.sitenav ul li:hover,
	.sitenav ul li.current_page_item{
		background-color:inherit !important;
	}
	
    /* slider Css */
    #theme-slider .nivo-caption {
        width: 90%;
        margin: 0 auto;
		border: none;
		padding: 0;
		inset: 50% 0 auto 0;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
    .caption-holder h4{
        font-size: 14px !important;
        margin-bottom: 5px !important;
    }
    .caption-holder h2{
        font-size: 30px !important;
        line-height: 1.2 !important;
        margin: 0 0 8px !important;
    }
    .caption-holder p{
        display: none;
    }
    .caption-holder a.slide-button{
        font-size: 12px !important;
        padding: 8px 18px !important;
    }
	#theme-slider .nivo-controlNav,
	#theme-slider .nivo-directionNav{
		display: none;
	}

    /* ------ Extra ------ */
    .service-section{
        padding: 50px 0;
    }
    .service-box{
        margin-top: 0 !important;
        width: 100%;
    }
    .service-box:not(:last-child){
        margin-bottom: 40px;
        margin-right: 0;
    }
    .intro-left{
        padding: 25px 0 0 25px;
        margin-bottom: 30px;
    }
    .intro-right h2{
        font-size: 32px;
    }
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }
    /* --------- Pages ------- */
    
    .content-area {
        width: auto;
        margin: 0 20px;
        padding: 50px 0;
    }
    .site-main {
        width: auto;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
	section{
		padding:0;
	}
	.main-aligner{
		margin-top:0;
	}
}

@media screen and (max-width: 719px){
    .site-name{
        text-align: center;
    }
}
@media screen and (max-width: 899px) and (min-width: 320px) {
    .cat_comments {
        height: auto;
    }
}
/* Tablet View */
@media screen and (max-width: 999px) and (min-width: 720px) {
    * {
        box-sizing: border-box;
    }
    .aligner {
        width: 95%;
		display: inherit !important;
    }
    .top-bar-col{
        flex: 50%;;
    }
    .top-bar-col:not(:last-child){
        margin: 0;
    }
    .top-bar-col.flex.jcfe{
        justify-content: flex-start;
    }
    .main-header{
		position: relative;
	}
	#header .flex{
		display: block;
	}
	.site-name{
		width: max-content;
		margin: 0 auto;
		padding: 15px 0;
        text-align: center;
	}

    .theme-nav{
        margin-bottom: 15px;
    }
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        font-size: 16px;
		text-decoration: none;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
		float:none;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
        padding: 0;
    }
    .sitenav ul li:before{
        content: none;
    }
	.sitenav ul li ul {
		color: #fff;
		opacity: 0;
		padding:0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: auto;
		z-index: 1;
	}
	.sitenav ul li.menu-item-has-children:hover > ul,
	.sitenav ul li.menu-item-has-children:focus > ul,
	.sitenav ul li.menu-item-has-children.focus > ul {
		left: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
		background-color:#303030 !important;
		top:0;
		position: relative;
	}
    .sitenav ul li a {
        padding: 8px 16px;
        display: block;
        color: #ffffff !important;
		text-align:left;
        background: transparent !important;
    }
	.sitenav ul li a:before,
	.sitenav ul li a:after{
        content: none;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul li a:before {
        content: none;
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
	.sitenav ul li:hover,
	.sitenav ul li.current_page_item{
		background-color:inherit !important;
	}
	/* --------- Slider ------- */
	.nivo-caption {
        width: 530px !important;
    }
	.caption-holder h2{
		font-size: 40px !important;
	}
    .nivo-controlNav{
        left: 3%;
    }
	
    /* --------- Pages ------- */
    .service-box{
        margin: 0 !important;
    }
    .intro-left, .intro-right{
        flex: 100%;
    }
    .intro-left{
        margin-bottom: 30px;
    }
    .content-area {
        width: auto;
        margin: 0 20px;
        padding: 50px 0;
    }
    .site-main {
        width: 60%;
        margin: 0;
        padding: 0;
        float: left;
    }
    #sidebar {
        width: 35%;
        margin: 0;
        padding: 0;
        float: right;
    }
	.main-aligner{
		margin-top:0;
	}
	
}
@media screen and (min-width: 1000px) {
    .sitenav ul li ul li {
        display: block;
        position: relative;
        float: none;
    }
    .sitenav ul li ul li a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px #313131 solid;
    }
    .site-main {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1159px) {
    .top-bar,
    .top-icon i,
    .top-bar-col .social-icons a{
        font-size: 12px;
    }
    .aligner {
        width: 95%;
    }
    .sitenav ul li a{
        padding: 14px 5px;
    }
	.sitenav ul li:hover > ul{
		top:52px;
	}
    .sitenav ul li:before{
        height: 84px;
    }
    .cat_comments {
        left: 35px;
        width: 25%;
    }
    .content-area {
        width: 95%;
	}
	.nivo-caption{
		width:74% !important;
	}
}